node_modules
coverage
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development
.devContainer
.vscode
.DS_Store
.idea
.vscode
.vscode

*-lock.yaml
*.lock
coverage/*
coverage/
coverage/lcov.info
coverage/coverage-final.json
coverage/clover.xml
coverage/lcov-report/
coverage/lcov-report/index.html
